---
extends: default

rules:
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  document-start:
    present: true

ignore: |
  inventory.ini
  group_vars/all.yml
