{
  "log": {"loglevel": "info"},
  "inbounds": [
    {% for host in groups['eu_nodes'] %}
    {
      "listen": "0.0.0.0",
      "port": {{ 4430 + loop.index }},
      "protocol": "dokodemo-door",
      "tag": "in_node_{{ loop.index }}",
      "settings": { "address": "127.0.0.1", "port": 443, "network": "tcp" }
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "outbounds": [
    {% for host in groups['eu_nodes'] %}
    {
      "tag": "eu_node_{{ loop.index }}",
      "protocol": "vless",
      "settings": {
        "vnext": [{
          "address": "{{ hostvars[host]['ansible_host'] }}",
          "port": 443,
          "users": [{
            "id": "{{ hostvars[host]['bridge_uuid'] }}",
            "encryption": "none",
            "flow": "xtls-rprx-vision"
          }]
        }]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "serverName": "{{ hostvars[host]['bridge_sni'] }}",
          "publicKey": "{{ hostvars[host]['bridge_public_key'] }}",
          "fingerprint": "chrome",
          "shortId": ""
        }
      }
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}